.flexCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border {
    border: gray solid 1px;
    padding: 8px;
    border-radius: 16px;
}

.repo {
    display: flex;
    flex-direction: column;
    box-shadow: gray 0px 0px 6px 0px;
    padding: 12px;
    width: 20vw;
    height: 140px;
    margin: 12px;
    border-radius: 16px;
    cursor: pointer;
}

.saved {
    box-shadow: #9090ff 0px 0px 6px 0px;
}